                </ol>
            </main>
        </div>
        <div class="notification">
            <button id="dismiss" class="dismiss"><i class="fas fa-times"></i></button>
            <p id="message" class="message">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vitae assumenda voluptatibus aliquid exercitationem molestias odit placeat voluptas vero doloribus perferendis ipsa possimus debitis, eos pariatur nostrum delectus impedit hic recusandae?</p>
        </div>
        <!-- <script src="../dev-repositories/typer/typer.ts" type="text/typescript"></script> -->
        <script src="/js/typer.js"></script>
        <script src="/js/script.js"></script>
        
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-153219040-1"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag() { dataLayer.push(arguments); }
            gtag('js', new Date());

            gtag('config', 'UA-153219040-1');
        </script>
    </body>
</html>